.card {
  display: flex;
  flex-direction: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-left: 0px;
  width: 350px;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 6px;
  background-color: #ffffff;
  border-radius: 6px;
}

button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 60px;
}

button:hover {
  background-color: darkred;
}
.name {
  display: flex;
  flex-direction: space-between;
  font-weight: bold;
  margin-bottom: 4px;
  width: 200px;
}
.number {
  display: flex;
  flex-direction: flex-start;
  font-style: italic;
  margin-left: -10px;
  width: 190px;
}
